body{
    text-align: center;
    background-color:aquamarine;
    font-family: 'Righteous', cursive;
    overflow: hidden;

}

h1{
    font-size: 50px;
    color: #11d476;
    
}


.container{
    margin: 0 auto;
    max-width: 510px;
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 2rem;
}
span.comp{
    font-size: 50px;
    
  }
  #comp{
    margin-right:5rem ;
    /* margin-left: 3.5rem; */
  }
/* hand-icon */
span.emoji{
  
  font-size: 50px;
  
}
#user{
    margin-left: 9.5rem;
}
#label_comp{
    margin-left:2.5rem ;
    /* margin-left: 3.5rem; */
  }

#label_user{
    margin-left: 18rem;
}

button{
    background-color: #9beb11;
    font-family: 'Roboto Mono', monospace;
    font-size:15px ;
    border: none;
    width: 150px;
   padding: 1% 0 1% 0;
   margin:0 1% 0 1%;
}

button:hover{
    background-color: #01e962;
    transition:0.2ms ease-out ;
}

@media screen and (max-width:500px) {

    h1{
        font-size: 1.5rem;
    }

    span.emoji{
        font-size:2.5rem;
    }

   .container{
    display: inline-block;
   }

   button{
    margin-top: 5%;
   }
}

